services:
  - type: web
    name: swbchurch
    env: python
    region: oregon
    plan: free
    buildCommand: './build.sh'
    startCommand: 'gunicorn churchsite.wsgi:application'
    envVars:
      - key: DEBUG
        value: false
      - key: PYTHON_VERSION
        value: '3.11.7'
      - key: SECRET_KEY
        sync: false
      - key: DATABASE_URL
        sync: false
      - key: CLOUDINARY_CLOUD_NAME
        sync: false
      - key: CLOUDINARY_API_KEY
        sync: false
      - key: CLOUDINARY_API_SECRET
        sync: false
      - key: EMAIL_HOST_USER
        sync: false
      - key: EMAIL_HOST_PASSWORD
        sync: false
      - key: DEFAULT_FROM_EMAIL
        sync: false
      - key: PAYSTACK_PUBLIC_KEY
        sync: false
      - key: PAYSTACK_SECRET_KEY
        sync: false
