{% extends "master.html" %}

<!-- title -->
{% block title %} SWBC | {{newsevent.title}} {% endblock %}

<!-- content -->
{% block content %}

<!-- header -->
<header
  id="news_post"
  class="news_post"
  style="background-image: url({{newsevent.feature_pic.url}})"
>
  <div class="overlay text-white text-center">
    <h1 class="display-4 font-weight-bold my-3">{{newsevent.title}}</h1>
    <h5>Posted on {{newsevent.date_updated}}</h5>
  </div>
</header>

<!--  CONTENT Section  -->
<div
  id="content"
  class="container-fluid wow fadeIn py-5"
  data-wow-duration="1.5s"
>
  <div class="row">
    <div
      class="col-lg-4 content-img-bg"
      style="background-image: url({{newsevent.content_pic.url}})"
    ></div>
    <div class="col-lg-8">
      <div class="row justify-content-center">
        <div class="col-sm-11 py-4 my-4 news_content text-justify">
          {{newsevent.content|safe}}
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Other news -->
<div class="container-fluid bg-dark text-light py-5 text-center wow fadeIn">
  <h2 class="section-title my-5 text-center">LATEST EVENTS</h2>
  <div class="row justify-content-center">
    {% for news in latest_newsevents %}
    <div class="col-md-3 my-3">
      <div class="card bg-transparent border">
        <img
          src="{{news.feature_pic.url}}"
          alt="{{news.title}}"
          class="rounded-0 mg-responsive other-news-img-top"
        />
        <div class="card-body">
          <h5 class="pt20 pb20">{{news.title}}</h5>
          <p class="text-center mb-4">
            <span class="text-white">{{news.date_updated}}</span>
          </p>
          <p class="text-white">
            <a href="{{news.id}}" class="btn btn-md btn-danger">Read</a>
          </p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
