{% extends "master.html" %}

<!-- title -->
{% block title %} SWBC | Bookstore {% endblock %}

<!-- content -->
{% block content %}

<!-- header -->
<header id="books" class="books_header mb-5">
  <div class="overlay text-white text-center">
    <h1 class="display-2 font-weight-bold my-3">Bookstore</h1>
  </div>
</header>

<!-- SEARCH Section  -->
<div
  class="container-fluid search-overlay text-center text-light has-height-md middle-items pt-5"
>
  <div class="">
    <form method="get">
      <div class="row mb-5">
        <div class="col-md-11 my-2">{{ form.title }}</div>
        <div class="col-md-1 my-3">
          <button type="submit" class="btn btn-lg btn-primary" id="rounded-btn">
            SEARCH
          </button>
        </div>
      </div>
    </form>
  </div>

  <!-- BOOKS Section -->
  <div class="container-fluid bg-dark text-light py-5">
    <div class="bookstore-grid">
      {% for book in paginated_books %}
      <div class="book-item">
        <div class="book-cover-wrapper">
          <img src="{{book.cover_image.url}}" alt="{{book.title}}" class="book-cover" loading="lazy" />
          <div class="book-actions">
            <button class="book-action-btn book-action-info" data-bs-toggle="modal" data-bs-target="#book_description{{book.id}}" title="View Description">
              <span class="ti-info"></span>
            </button>
            <button class="book-action-btn book-action-buy" data-bs-toggle="modal" data-bs-target="#book_purchase{{book.id}}" title="Purchase">
              <span class="ti-shopping-cart"></span>
            </button>
          </div>
        </div>
        <div class="book-details">
          <h5 class="book-name">{{book.title}}</h5>
          <p class="book-writer">{{book.author}}</p>
          <div class="book-price">&#8358; {{book.price}}</div>
        </div>
      </div>

      <!-- Book Description Modal -->
      <div
        class="modal fade"
        id="book_description{{book.id}}"
        tabindex="-1"
        aria-labelledby="book_descriptionLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-scrollable">
          <div
            class="modal-content service-modal"
            style="background-image: url('{{book.cover_image.url}}'); background-size: cover"
          >
            <div class="overlay">
              <div class="modal-header">
                <h1 class="modal-title fs-4" id="book_descriptionLabel">
                  {{book.title}}
                </h1>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body text-white">{{book.description}}</div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-primary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Book Purchase Modal -->
      <div
        class="modal fade"
        id="book_purchase{{book.id}}"
        tabindex="-1"
        aria-labelledby="book_purchaseLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-scrollable">
          <div
            class="modal-content service-modal"
            style="background-image: url('{{book.cover_image.url}}'); background-position: center"
          >
            <div class="overlay">
              <div class="modal-header">
                <h1 class="modal-title fs-4" id="book_purchaseLabel">
                  {{book.title}}
                </h1>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <form class="paymentForm" data-book-id="{{book.id}}">
                <div class="modal-body">
                  <div class="row my-2">
                    <input
                      type="text"
                      id="name{{book.id}}"
                      class="form-control form-control-lg custom-form-control"
                      placeholder="NAME"
                      required
                    />
                  </div>
                  <div class="row my-2">
                    <input
                      type="email"
                      id="email-address{{book.id}}"
                      class="form-control form-control-lg custom-form-control"
                      placeholder="EMAIL"
                      required
                    />
                  </div>
                  <div class="row my-2">
                    <input
                      type="text"
                      id="amount{{book.id}}"
                      class="form-control form-control-lg custom-form-control"
                      placeholder="{{book.price}}"
                      value="{{book.price}}"
                      disabled
                    />
                  </div>
                  <div class="row my-2">
                    <input
                      type="text"
                      id="description{{book.id}}"
                      class="form-control form-control-lg custom-form-control"
                      placeholder="{{book.title}}"
                      value="{{book.title}}"
                      disabled
                    />
                  </div>
                </div>
                <div class="modal-footer">
                  <button
                    type="submit"
                    class="btn bg-success"
                  >
                    Submit
                  </button>
                  <button
                    type="button"
                    class="btn btn-primary"
                    data-bs-dismiss="modal"
                  >
                    Close
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <!-- PAGINATION Section -->
  {% with paginated_items=paginated_books %}
    {% include 'partials/pagination.html' %}
  {% endwith %}
  {% endblock %}
</div>
