{% extends "master.html" %}

<!-- title -->
{% block title %} SWBC | Daily Devotionals {% endblock %}

<!-- content -->
{% block content %}

<!-- header -->
<header id="sermons" class="sermons_header mb-5">
  <div class="overlay text-white text-center">
    <h1 class="display-2 font-weight-bold my-3">Daily Devotionals</h1>
  </div>
</header>

<!-- SEARCH Section  -->
<div
  class="container-fluid search-overlay text-center text-light has-height-md middle-items pt-5"
>
  <div class="">
    <form method="get">
      <div class="row mb-5">
        <div class="col-md-9 my-2">{{ form.title }}</div>
        <div class="col-md-2 my-2">{{ form.year }}</div>
        <div class="col-md-1 my-3">
          <button type="submit" class="btn btn-lg btn-primary" id="rounded-btn">
            SEARCH
          </button>
        </div>
      </div>
    </form>
  </div>

  <!-- SERMONS Section -->
  <div class="container-fluid bg-dark text-light py-5 text-justify wow fadeIn">
    <div class="row justify-content-center">
      {% for devotional in paginated_devotionals %}
      <div class="col-md-5">
        <div class="card bg-transparent border">
          <div class="card-body">
            <h6 class="pt20 pb20">{{devotional.title}}</h6>
            <h6 class="mb-2">
              <span class="badge badge-success">{{devotional.date}}</span>
            </h6>
            <p class="text-white">
              {{devotional.contents|safe|truncatewords:30}}
            </p>
            <a href="details/{{devotional.id}}" class="btn btn-primary"
              >Read More</a
            >
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <!-- PAGINATION Section -->
  <div class="container-fluid bg-dark text-light py-5 text-center wow fadeIn">
    <div class="pagination">
      <span class="step-links">
        {% if paginated_devotionals.has_previous %}
        <a href="?page=1" class="btn btn-md btn-outline-primary"
          >&laquo; First</a
        >
        <a
          href="?page={{ paginated_devotionals.previous_page_number }}"
          class="btn btn-md btn-outline-primary"
          >Previous</a
        >
        {% endif %}

        <span class="current bg-primary p-2 rounded">
          Page {{ paginated_devotionals.number }} of
          {{paginated_devotionals.paginator.num_pages }}.
        </span>

        {% if paginated_devotionals.has_next %}
        <a
          href="?page={{ paginated_devotionals.next_page_number }}"
          class="btn btn-md btn-outline-primary"
          >Next</a
        >
        <a
          href="?page={{ paginated_devotionals.paginator.num_pages }}"
          class="btn btn-md btn-outline-primary"
          >Last &raquo;</a
        >
        {% endif %}
      </span>
    </div>
  </div>
  {% endblock %}
</div>
