{% extends "master.html" %}

<!-- load static -->
{% load static %}

<!-- title -->
{% block title %} SWBC | {{devotional.title}} {% endblock %}

<!-- content -->
{% block content %}

<!-- header -->
<header id="devotional_head" class="news_post mb-5">
  <div class="overlay text-white text-center">
    <h1 class="display-5 font-weight-bold my-3 px-3">{{devotional.title}}</h1>
    <h5>{{devotional.date}}</h5>
  </div>
</header>

<!-- CONTENT Section  -->
<div id="devotional_content" class="container-fluid wow fadeIn mb-5">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="text-justify devotional-content two-column-content">
        {{devotional.contents|safe}}
        {% if devotional.confession %}
        <div class="confession-section mt-4">
          <h3 class="confession-header">Confession</h3>
          <div class="devotional-confession">
            {{devotional.confession|safe}}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
