{% extends "master.html" %}

<!-- title -->
{% block title %} SWBC | News & Events {% endblock %}

<!-- content -->
{% block content %}

<!-- header -->
<header id="news_events" class="news_header mb-5">
  <div class="overlay text-white text-center">
    <h1 class="display-2 font-weight-bold my-3">News & Events</h1>
  </div>
</header>

<!-- SEARCH Section  -->
<div
  class="container-fluid search-overlay text-center text-light has-height-md middle-items pt-5"
>
  <div class="">
    <form method="get">
      <div class="row mb-5">
        <div class="col-md-9 my-2">{{ form.title }}</div>
        <div class="col-md-2 my-2">{{ form.year }}</div>
        <div class="col-md-1 my-3">
          <button type="submit" class="btn btn-lg btn-primary" id="rounded-btn">
            SEARCH
          </button>
        </div>
      </div>
    </form>
  </div>

  <!-- Events Section -->
  <div class="container-fluid bg-dark text-light py-5 wow fadeIn text-justify">
    <div class="row justify-content-center">
      {% for news in paginated_events %}
      <div class="card bg-transparent my-2 col-md-8">
        <div class="row">
          <div class="col-md-6 px-0">
            <img
              src="{{news.feature_pic.url}}"
              alt="{{news.title}}"
              class="rounded-start news-img-top img-fluid"
            />
          </div>
          <div class="col-md-6">
            <div class="card-body events">
              <h5 class="card-title">{{news.title}}</h5>
              <p class="card-text news_content">
                {{news.content|safe|truncatewords:15}}
              </p>
              <p class="card-text">
                <small class="text-muted">{{news.date_updated}}</small>
              </p>
              <a href="details/{{news.id}}" class="btn btn-sm btn-primary"
                >Read More</a
              >
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <!-- PAGINATION Section -->
  <div class="container-fluid bg-dark text-light py-5 text-center wow fadeIn">
    <div class="pagination">
      <span class="step-links">
        {% if paginated_events.has_previous %}
        <a href="?page=1" class="btn btn-md btn-outline-primary"
          >&laquo; First</a
        >
        <a
          href="?page={{ paginated_events.previous_page_number }}"
          class="btn btn-md btn-outline-primary"
          >Previous</a
        >
        {% endif %}

        <span class="current bg-primary p-2 rounded">
          Page {{ paginated_events.number }} of
          {{paginated_events.paginator.num_pages }}.
        </span>

        {% if paginated_events.has_next %}
        <a
          href="?page={{ paginated_events.next_page_number }}"
          class="btn btn-md btn-outline-primary"
          >Next</a
        >
        <a
          href="?page={{ paginated_events.paginator.num_pages }}"
          class="btn btn-md btn-outline-primary"
          >Last &raquo;</a
        >
        {% endif %}
      </span>
    </div>
  </div>
  {% endblock %}
</div>
